<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- views/show.ejs -->
  <h1>All Users</h1>

  <table>
    <thead>
      <tr>
        <th>NIP</th>
        <th>Nama Pegawai</th>
        <th>Jabatan</th>
        <th>Role</th>
        <th>Tanggal Masuk</th>
      </tr>
    </thead>
    <tbody>
      <% if (data && data.length> 0) { %>
        <% data.forEach(user=> { %>
          <tr>
            <td>
              <%= user.nip %>
            </td>
            <td>
              <%= user.nama_pegawai %>
            </td>
            <td>
              <%= user.id_jabatan %>
            </td>
            <td>
              <%= user.role_id %>
            </td>
            <td>
              <%= user.tgl_masuk %>
            </td>
          </tr>
          <% }); %>
            <% } else { %>
              <tr>
                <td colspan="6">No users available</td>
                <!-- Update colspan based on the number of columns -->
              </tr>
              <% } %>
    </tbody>
  </table>
</body>

</html>